* {
	box-sizing: border-box;
}

.headings {
	float: right;
	overflow: auto;
	color: #2d3c49;
}

hr {
	border: 2px solid #7d97ad;
}

.content img {
	max-width: 100%;
}

.featured img {
	max-width: 100%;
}


