@import "partials/variables";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,300');

* {
  font-family: 'Libre Franklin', sans-serif;
}

// === Bootstrap Container ===
.container {
  margin-top: 20px;
  width: $content-width;
  @media only screen and (max-width: 992px) {
    width: auto;
    max-width: $content-width;
  }
}

// === Header ===
.fa-code {
  color: $primary-color;
  margin-right: -20px;
  @include small-screens {
    font-size: 60px;
  }
}

.name {
  @include headings-style;
  margin-top: 10px;
  @include small-screens {
    font-size: 32px;
  }
}

.job-title {
  @include headings-style;
  clear: both;
  @include small-screens {
    font-size: 12px;
  }
  font-weight: bold;
}

.break {
  border: 2px solid $tertiary-color;
  margin-bottom: 20px;
}

// === Main ===
.background {
  max-height: 325px;
  overflow: hidden;
  margin-bottom: 30px;
}

// === Portfolio ===
.portfolio-header {
  color: $tertiary-color;
  font-weight: 300;
  margin-left: 5px;
}

.portfolio-title {
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
  margin: 8px;
  font-weight: bold;
  margin-bottom: 30px;
}

.in-progress {
  opacity: .4;
}

.in-progress-overlay {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include small-screens {
    margin-top: -25px;
  }
}

// === Footer ===
.footer-name {
  text-align: center;
}
