@import "partials/variables";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,300');

* {
  font-family: 'Libre Franklin', sans-serif;
}

.container {
  margin-top: 20px;
  width: $content-width;
  @media only screen and (max-width: 992px) {
    width: auto;
    max-width: $content-width;
  }
}

.name {
  @include headings-style;
  margin-top: 10px;
  @include small-screens {
    font-size: 32px;
  }
}

.job-title {
  @include headings-style;
  clear: both;
  @include small-screens {
    font-size: 12px;
  }
}

.fa-code {
  color: $primary-color;
  margin-right: -20px;
  @include small-screens {
    font-size: 60px;
  }
}

hr {
  border: 2px solid $tertiary-color;
  margin-bottom: 20px;
}

.content {
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 3%;
}

.portfolio h3 {
  color: $tertiary-color;
  font-weight: 300;
}

.featured p {
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
  margin: 8px;
}
