$primary-color: #02b3e4;
$secondary-color: #2d3c49;
$tertiary-color: #7d97ad;

$content-width: 992px;

@mixin headings-style {
  float: right;
  text-align: right;
  margin: auto;
  color: $secondary-color;
}

* {
  font-family: 'Libre Franklin', sans-serif;
}

.container {
  margin-top: 20px;
  width: $content-width;
  @media only screen and (max-width: 992px) {
    width: auto;
    max-width: $content-width;
  }
}

.headings {
  height: 87px;
}

.headings h1 {
  @include headings-style;
  margin-top: 10px;
}

.headings h6 {
  @include headings-style;
  letter-spacing: 1.6px;
  clear: right;
}

.fa-code {
  color: $primary-color;
}


hr {
  border: 2px solid $tertiary-color;
  margin-bottom: 2%;
}

.content {
  max-height: 350px;
  overflow: hidden;
  align-content: center;
  margin-bottom: 3%;
}

.portfolio {
  color: $tertiary-color;
}

.featured p {
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
  margin: 8px;
}
