@mixin headings-style {
  color: $secondary-color;
  font-weight: 100;
  float: right;
  white-space: nowrap;
  text-transform: uppercase;
}

@mixin small-screens() {
  @media only screen and (max-width: 576px) {
		@content;
  }
}

@mixin extra-small-screens {
	@media only screen and (max-width: 430px) {
		@content;
	}
}
